<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<!-- 开启驼峰映射 -->
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<!-- 配置二级缓存的开启与关闭 -->
		<setting name="cacheEnabled" value="true" />
	</settings>
</configuration>